/* Import and Default stuff */

:root {
    color: white;
    --tf_backgroundColor: #242734; /* #242734 */
    --main_backgroundColor: #2D3142;
}  

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
body {
    background: var(--main_backgroundColor);
    font-family: 'Raleway', sans-serif;
}

html{
    height: 100%;
}

body::-webkit-scrollbar{
    width: 0.35rem;
}

body::-webkit-scrollbar-track{
    background: #202027;
}

body::-webkit-scrollbar-thumb{
    background: rgb(19, 20, 20);
}

a {
    color: #BFC0C0;
}

/* Layout */

main {
    display: grid;
    grid-template-areas:
        "topbar  topbar  topbar"
        "content content content"
        "footer  footer  footer";

        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: auto auto auto;

        gap: 0 50px;

        text-align: center;
}

/* Header */

.headerMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    height: 7.5vh;
}

.headerMenu a:link {
    text-decoration: underline;
}

.headerMenu a:hover {
    text-decoration: none;
}

.logo {
    position: absolute;
    left: 10px;

    font-size: 5.5vh;
    text-transform: uppercase;
    text-decoration: none;
    align-items:initial;
}

.headerContents{
    text-transform: uppercase;
    text-decoration: none;
    align-items:stretch;

    position: absolute;
    right: 10px;

    display: table;
}

.headerContents .content{
    display: table-cell;
    padding-left: 10px;
    font-size: 2vh;
}

/* Article */

.landingPage {
    /* Header + this + Footer = 100vh */
    height: 85vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingPage .websiteTitle a {
    font-size: 2em;
    padding: 1vh;
    border: 2px solid #BFC0C0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.searchBar {
    width: 45%;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #BFC0C0;
    box-sizing: border-box;

    background-color:var(--tf_backgroundColor);

    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    box-shadow: 0px 0px 5px var(--tf_backgroundColor);
}

.searchBar a{
    color: #2D3142;
}

.searchBar input {
    flex-grow: 1;
    color: #BFC0C0;
    font-size: 1.8rem;
    line-height: 2.4rem;
    vertical-align: middle;

    background-color:var(--tf_backgroundColor);
    color:#BFC0C0;
    border: 0;
    text-decoration: none;
}

.searchBar input::before{
    color: black;
}

textarea:focus, input:focus{
    outline: none;
}

.button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 7px var(--tf_backgroundColor);
}

.button a {
    position: relative;
}

#animationButton {
    width: 100%;
    height: 100%;
    left: -200px;
    background: #BFC0C0;
    position: absolute;
    transition: all .35s ease-Out;
    bottom: 0;
}

.button:hover #animationButton {
    left: 0;
}

.button:hover a {
    color: #2D3142;
}

/* Footer */
.footerMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0vh;
    margin: 0;
    font-size: 2vh;

    height: 7.5vh;
}

.footerMenu a:link {
    text-decoration: underline;
}

.footerMenu a:hover {
    text-decoration: none;
}

 /* Default stuff for stuff */
header  {
    grid-area: topbar; 
    background-color: var(--tf_backgroundColor);
    overflow: hidden;
    box-shadow: 0px 0px 7px var(--tf_backgroundColor);
}
article {
    grid-area: content; 
    margin-left: 1vw;
    margin-right: 1vw;
}
footer  {
    grid-area: footer;
    background-color: var(--tf_backgroundColor);
    overflow: hidden;
    box-shadow: 0px 0px 7px var(--tf_backgroundColor);
}